---
import Page from '~/components/layout/Page.astro';
import Footer from '~/components/layout/Footer.astro';
import Cover from '~/components/sections/Cover.astro';
import Preamble from '~/components/sections/Preamble.astro';
import Values from '~/components/sections/Values.astro';
import Principles from '~/components/sections/Principles.astro';
import TweaksPanel from '~/components/tweaks/TweaksPanel.astro';
import ClientApp from '~/components/ClientApp.astro';
---
<Page>
  <a href="#main" class="skip-link">Skip to content</a>
  <span id="top"></span>
  <main id="main">
    <Cover />
    <div class="wrap">
      <Preamble />
      <Values />
      <Principles />
      <Footer />
    </div>
  </main>
  <TweaksPanel />
  <ClientApp />
</Page>
