---
import Page from '~/components/layout/Page.astro';
import SpecIndex from '~/components/layout/SpecIndex.astro';
import Footer from '~/components/layout/Footer.astro';
import Cover from '~/components/sections/Cover.astro';
import Preamble from '~/components/sections/Preamble.astro';
import Definition from '~/components/sections/Definition.astro';
import Values from '~/components/sections/Values.astro';
import Principles from '~/components/sections/Principles.astro';
import Signature from '~/components/sections/Signature.astro';
import TweaksPanel from '~/components/tweaks/TweaksPanel.astro';
import ClientApp from '~/components/ClientApp.astro';
---
<Page>
  <span id="top"></span>
  <main id="main">
    <Cover />
    <div class="wrap">
      <div class="doc-layout">
        <SpecIndex />
        <div class="doc">
          <Preamble />
          <Definition />
          <Values />
          <Principles />
          <Signature />
        </div>
      </div>
      <Footer />
    </div>
  </main>
  <TweaksPanel />
  <ClientApp />
</Page>
