---
import { PRINCIPLES } from '~/content/principles';
import PrincipleCard from '~/components/principles/PrincipleCard.astro';
---
<div class="p-grid" id="pGrid">
  {PRINCIPLES.map((p, i) => (
    <PrincipleCard principle={p} index={i} />
  ))}
</div>
