---
import type { Term } from '~/content/terms';
interface Props { term: Term; index: number }
const { term, index } = Astro.props;
---
<div class="term" data-term={index}>
  <div class="tbody-title">{term.title}</div>
  <div class="body">
    {term.lines.map((l) => (
      <span class="ln" style={`animation-delay:${l.d}ms`} set:html={l.t || '&nbsp;'} />
    ))}
  </div>
</div>
